<button class="btn btn-light btn-sm" type="button" aria-label="Save draft" (click)="saveDraft()" [disabled]="!isEditorLoaded || isSaving">
  <span *ngIf="!isEditorLoaded" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  <span *ngIf="!isEditorLoaded" class="sr-only">Loading...</span>
  <div *ngIf="isEditorLoaded">
    <span *ngIf="isSaved && !isSaving && !isBodyChanged">Saved</span>
    <span *ngIf="!isSaved && !isSaving && isBodyChanged">Save</span>
    <span *ngIf="isSaving">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Saving...
    </span>
  </div>
</button>
<button class="btn btn-success btn-sm" type="button" aria-label="Publish post" (click)="publishPost()" [disabled]="(!isEditorLoaded || isSaving) && !isSaved">
  <span *ngIf="!isEditorLoaded" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  <span *ngIf="!isEditorLoaded" class="sr-only">Loading...</span>
  <div *ngIf="isEditorLoaded">
    <span *ngIf="isPublished">Published</span>
    <span *ngIf="!isPublished">Publish</span>
  </div>
</button>
