.opacity-0 {
  opacity: 0;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.br-1 {
  border-right-width: 1px;
  border-right-style: solid;
}

.br-grey {
  border-right-color: #c5c5c5;
}

.bb-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.bb-2 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.bb-dashed {
  border-bottom-style: dashed;
}

.bb-grey {
  border-bottom-color: #c5c5c5;
}

.bb-red {
  border-bottom-color: red;
}

.bt-1 {
  border-top-width: 1px;
  border-top-style: solid;
}

.bt-grey {
  border-top-color: #c5c5c5;
}

.bl-1 {
  border-left-width: 1px;
  border-left-style: solid;
}

.bl-grey {
  border-left-color: #c5c5c5;
}

.b-red {
  border-color: #a94442 !important;
}

.b-2 {
  border-width: 2px !important;
}

.b-collapse {
  border-collapse: collapse;
}

.c-red {
  color: #a94442;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-vertical-center {
  align-items: center;
  justify-content: center;
}
.flex-vertical-end {
  align-items: flex-end;
}

.f-normal {
  font-weight: initial;
}

.h-100 {
  height: 100%;
}

.post-paid-section-preview-wrapper {
  background-color: #ededed;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  padding: 0px;
  min-height: 100px;
  flex: 0 0 91.6%;
  max-width: 91.6%;
  position: relative;
  float: left;
  width: 100%;
}

.post-paid-section-preview-paid-section,
.post-paid-section-preview-free-section {
  font-weight: initial;
}

.post-paid-section-preview-paid-section {
  background-color: #ededed;
  max-height: 300px;
  overflow: auto;
}

.post-paid-section-preview-paid-section > *,
.post-paid-section-preview-paid-section > .cl-preview-section {
  padding: 0px 15px;
}

.post-paid-section-preview-paid-section > ul,
.post-paid-section-preview-paid-section > ul > li {
  list-style-position: inside;
}

/* hide scrollbars */
.post-paid-section-preview-paid-section {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.post-paid-section-preview-paid-section::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
/* hide scrollbars end*/

.post-paid-section-arrows {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 0 0 8.3%;
  max-width: 8.3%;
  float: left;
}

.post-paid-section-arrows-mobile {
  margin-top: 20px;
  padding: 0px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}

.post-paid-section-arrows-mobile > .post-paid-section-up-arrow,
.post-paid-section-arrows-mobile > .post-paid-section-down-arrow {
  float: left;
  width: 50%;
  background-color: #ededed;
  padding: 10px 0px;
}

.post-paid-section-arrows > .post-paid-section-up-arrow,
.post-paid-section-arrows > .post-paid-section-down-arrow {
  padding-left: 10px;
  padding-top: 15px;
  height: 50%;
}

.post-paid-section-arrows > .post-paid-section-up-arrow,
.post-paid-section-arrows > .post-paid-section-down-arrow,
.post-paid-section-arrows-mobile > .post-paid-section-up-arrow,
.post-paid-section-arrows-mobile > .post-paid-section-down-arrow {
  transition: font-size 0.2s;
  cursor: pointer;
}

.post-paid-section-arrows > .post-paid-section-up-arrow {
  align-self: end;
}

.post-paid-section-arrows > .post-paid-section-up-arrow:hover,
.post-paid-section-arrows > .post-paid-section-down-arrow:hover {
  font-size: 1.5rem;
}

.post-paid-section-linebreak {
  position: absolute;
  top: 42%;
  left: 23px;
}

.post-paid-section-preview-wrapper p {
  margin-bottom: 0px;
}

.linebreak-switch-disabled {
  color: grey;
  cursor: not-allowed !important;
}

input:invalid {
  outline: 0px;
  box-shadow: none;
}

.editor h1,
.editor .h1,
.post-paid-section-preview-paid-section h1,
.post-paid-section-preview-paid-section .h1 {
  font-size: 22px;
  margin: 5px 0px 5px 0px;
}

.editor h2,
.editor .h2,
.post-paid-section-preview-paid-section h2,
.post-paid-section-preview-paid-section .h2 {
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

.editor h3,
.editor .h3,
.post-paid-section-preview-paid-section h3,
.post-paid-section-preview-paid-section .h3 {
  font-size: 18px;
  margin: 5px 0px 5px 0px;
}

.editor h4,
.editor .h4,
.post-paid-section-preview-paid-section h4,
.post-paid-section-preview-paid-section .h4 {
  font-size: 16px;
  margin: 5px 0px 5px 0px;
}

.editor h5,
.editor .h5,
.post-paid-section-preview-paid-section h5,
.post-paid-section-preview-paid-section .h5 {
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}

.editor h6,
.editor .h6,
.post-paid-section-preview-paid-section h6,
.post-paid-section-preview-paid-section .h6 {
  font-size: 12px;
  margin: 10px 0px 10px 0px;
}

.editor p,
.editor .p,
.editor.medium-editor-insert-plugin .p,
.editor span,
.editor .span,
.editor.medium-editor-insert-plugin .span,
.post-paid-section-preview-paid-section p,
.post-paid-section-preview-paid-section .p,
.post-paid-section-preview-paid-section.editormedium-editor-insert-plugin .p,
.post-paid-section-preview-paid-section span,
.post-paid-section-preview-paid-section .span,
.post-paid-section-preview-paid-section.editormedium-editor-insert-plugin .span {
  font-size: 15px;
  margin: 0 0 10px !important;
}

.editor ul,
.editor ul li,
.editor li,
.post-paid-section-preview-paid-section ul,
.post-paid-section-preview-paid-section ul li,
.post-paid-section-preview-paid-section li {
  font-size: 15px;
  margin: 0 0 10px !important;
}

.editor ol,
.editor ol li,
.editor li,
.post-paid-section-preview-paid-section ol,
.post-paid-section-preview-paid-section ol li,
.post-paid-section-preview-paid-section li {
  font-size: 15px;
  margin: 0 0 10px !important;
}

.modal-body,
.modal-body p,
.modal-body span,
.editor p,
.editor span,
.editor ul,
.editor ul li,
.editor ol,
.editor ol li,
.editor li,
.post-paid-section-preview-paid-section p,
.post-paid-section-preview-paid-section span,
.post-paid-section-preview-paid-section ul,
.post-paid-section-preview-paid-section ul li,
.post-paid-section-preview-paid-section ol,
.post-paid-section-preview-paid-section ol li,
.post-paid-section-preview-paid-section li {
  font-size: 15px;
}
