<div class="modal-header">
  <h6 class="modal-title">Prepare your story for readers</h6>
</div>
<div class="modal-body">
  <small><strong>Add or change topics so readers know what your story is about.</strong></small>
  <tag-input
    theme="hc-theme"
    [(ngModel)]="post.userPostHashtags"
    [separatorKeyCodes]="[32, 188]"
    (onAdd)="onAddRemovePaste()"
    [maxItems]="6"
    (onRemove)="onAddRemovePaste()"
    (onPaste)="onAddRemovePaste()"
    [identifyBy]="'hashtag'"
    [displayBy]="'hashtag'"
  ></tag-input>
  <small
    ><strong>
      <ul>
        <li>You can only add maximum of 6 topics to your story</li>
        <li>You can edit the story after publishing</li>
      </ul>
    </strong></small
  >
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-block btn-outline-dark" (click)="publish()">Publish</button>
</div>
