<button
  *ngIf="shouldShowButtons && !isPublished"
  class="btn btn-light btn-sm"
  type="button"
  aria-label="Save draft"
  (click)="saveDraft()"
  [disabled]="isSaving"
>
  <span *ngIf="!isPostLoaded" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  <span *ngIf="!isPostLoaded" class="sr-only">Loading...</span>
  <div *ngIf="isPostLoaded">
    <span *ngIf="!isSaving">Save</span>
    <span *ngIf="isSaving">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Saving...
    </span>
  </div>
</button>
<button
  *ngIf="shouldShowButtons"
  class="btn btn-success btn-sm"
  type="button"
  aria-label="Publish post"
  (click)="publishPost()"
  [disabled]="isSaving"
>
  <span *ngIf="!isPostLoaded" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  <span *ngIf="!isPostLoaded" class="sr-only">Loading...</span>
  <div *ngIf="isPostLoaded">
    <span *ngIf="isPublished">Published</span>
    <span *ngIf="!isPublished">Publish</span>
  </div>
</button>
<button
  *ngIf="!shouldShowButtons"
  class="btn btn-success btn-sm"
  type="button"
  aria-label="Write a post"
  (click)="writePost()"
>
  <i class="fas fa-pencil-alt"></i>
</button>
